# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
build/


bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

.idea
!/.idea
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
!/.idea/runConfigurations
*/**/.idea
.shelf
*/**/*.iml
*/**/*.ipr
*/**/*.iws
/*.iml
/*.ipr
/*.iws
/buildSrc/.idea
/buildSrc/.shelf
/buildSrc/*.iml
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/out
/buildSrc/subprojects/*/*.iml
/buildSrc/subprojects/*/out
/out
/subprojects/*/*.iml
/subprojects/*/out
